a, body, div, form, h1, h2, h3, h4, h5, h6, html, img, li, ol, p, pre, span, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
  list-style: none
}
a {
  color: #000000;
  text-decoration: none
}
button {
  padding: 0;
  background-color: transparent;
  border: 0;
}