.btn-a{
    background-color: #1a1e1c;
    color: white;
    font-family: f2b;
    font-size: 20pt;
}
.btn-a:visited {
    background-color:#1a1e1c ;
}
.btn-b{
    padding: 10px;
    width: 300px;
    text-align: left;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0;
}
.btn-b-box{
    background-color: #1a1e1c;
}
.ulbox li {
    width: 100%;
}
h1 {
    margin: 50px 0;
    font-size: 92pt;
    font-family: "f1";
    color: #3fffbe;
}